---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";

const howLongHasItBeen = () => {
  const now: Date = new Date();
  const then: Date = new Date("2022-10-05");
  const diff = now.getTime() - then.getTime();
  const days = Math.floor(diff / (1000 * 60 * 60 * 24));
  return days;
};

const days = howLongHasItBeen();
---

<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />

<Header title={SITE_TITLE} />
<main>
  <h1>hi!</h1>
  <p>welcome to the blog, where i write about things i find interesting.</p>
  <p>
    if it looks a little empty around here, thats because i just made this
    {days} days ago.
  </p>
  <p>There's a few things that i plan to add to this blog, such as...</p>
  <ul>
    <li>a few guides on tech, mostly for family members</li>
    <li>
      maybe a few posts about my life, but i'm not sure if i want to share that
    </li>
    <li>
      a few posts about some of my projects and how i learnt them etc.... 🤔
    </li>
    <li>
      always wanted to have a blog ever since i was 14 years old, so its pretty
      cool i sortof have one now.
    </li>
    <li>if youre seeing this, thanks for stopping by!</li>
  </ul>
</main>
<Footer />
